:host {
  background-color: rgba(16, 108, 200, .66);
  color: rgba(255, 255, 255, 1);
  display: block;
  height: 48px;
  padding: 0 16px;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

h1 span {
  display: block;
  text-align: center;
}
