<br>
<md-card class="sensor" [ngClass]="sensor.dont_worry ? 'dontWorry' : ''" md-tooltip="Контроллер: {{ sensor.unit.name }}" mdTooltipPosition="above">
    <div class="dont_worry">
        <md-checkbox
                #dw
                (change)="saveDontWorry(sensor, dw.checked)"
                [(ngModel)] = "sensor.dont_worry"
                [color]="accent"
                >
        </md-checkbox>
    </div>
    <div class="off_by_personal" *ngIf="sensor.dont_worry">
        Отключено персоналом
    </div>
    <table>
        <tr>
            <td rowspan="2" class="name">
                {{ sensor.name }}
                <div [class]="'date '+checkLastDate(sensor.date)" md-tooltip="Время снятия показания">
                    {{ formatDate(sensor.date) }}
                </div>
            </td>
            <td rowspan="2" class="value">
                <div [class]="sensor.value==null ? 'value null' : sensor.value<sensor.min_value || sensor.value>sensor.max_value ? 'value danger' : 'value'">
                    {{ sensor.value != null ? sensor.value : '[нет данных]' }}
                </div>
            </td>
            <td rowspan="2" class="celsium">
                °C
            </td>
            <td class="setup">
                <div class="max">
                    <button md-button class="btn" (click)="sensor.max_value=changeBounds(sensor, sensor.max_value, -1)">-</button>
                    <input type="number" step="any" [(ngModel)]="sensor.max_value">
                    <button md-button class="btn" (click)="sensor.max_value=changeBounds(sensor, sensor.max_value, 1)">+</button>
                    макс.
                </div>
            </td>
        </tr>
        <tr>
            <td class="setup">
                <div class="min">
                    <button md-button class="btn" (click)="sensor.min_value=changeBounds(sensor, sensor.min_value, -1)">-</button>
                    <input type="number" step="any" [(ngModel)]="sensor.min_value">
                    <button md-button class="btn" (click)="sensor.min_value=changeBounds(sensor, sensor.min_value, 1)">+</button>
                    мин.
                </div>

            </td>
        </tr>
    </table>

</md-card>
