:host {
  display: inline-block;
  padding-right: 20px;
}

$danger: #ff6565;


input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}


.sensor {
  background: rgba(91, 155, 213, 0.77);
  height: 100px;
  padding: 5px;
  position: relative;
  width: 600px;
  border: 2px solid #4d81b0;
  display: inline-block;
  transition: background,color 0.5s;
}
.sensor:hover {
  box-shadow: 0 0 15px 5px rgba(131, 213, 147, 0.66);
}
.sensor.dontWorry {
  background: rgba(204, 210, 213, 0.77);
  color: grey;
  transition: all 0.5s;
}

.sensor table {
  border-collapse: collapse;
  width: 100%;
}
.sensor table td{
}


.wrap_value, .value, .name, .setup {
  position: relative;
}
.wrap_value, .value, .name {
  top: 0;
}
.name {
  max-width: 150px;
  font-size: 25px;
  text-align: center;
}
.date:hover {
  cursor: pointer;
}
.date {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 9px;
}
.date.old {
  color: #c73535;
  font-weight: bold;
  font-size: 11px;
}
td.value {
  width: 150px;
}
div.value {
  background: #92d050;
  border: 3px solid #4b7fae;
  border-radius: 2px;
  padding: 20px 30px;
  font-size: 35px;
  text-align: center;
}
.value.danger {
  background: $danger;
}
.value.null {
  background: #b7b4b4;
  font-size: 10px;
}
.sensor.dontWorry div.value {
  background: #b7b4b4;
}


.celsium {
  font-size: 35px;
  width: 50px;
}

.setup {
  width: 220px;
}

.setup input {
  width: 80px;
  text-align: center;
  background: $danger;
  padding-left: 22px;
  border: 2px solid #4c80ac;
}
.sensor.dontWorry .setup input {
  background: #b7b4b4;
}
.btn {
  min-width: 1px;
  width: 40px;
  border: 2px solid #4c80ac;
  background: #b7b4b4;
}

.dont_worry {
  position: absolute;
  top: 0;
  left: 3px;
  z-index: 1000;
}

.off_by_personal {
  z-index: 900;
  position: absolute;
  width: 100%;
  line-height: 145px;
  height: 100%;
  color: rgba(255, 255, 255, 0.36);
  font-size: 49px;
  text-align: center;
  top: 0;
  left: 0;
  font-weight: bold;
  text-shadow: 0 0 31px rgba(0, 0, 0, 0.38);
  -webkit-text-stroke: 2px red;
}