.scrolling-button {
  max-width: 100%;
  width: 51px;
  height: 51px;
  line-height: 51px;
  background-color: #d9d9d9;
  border-radius: 2px;
  display: block;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  /*visibility: hidden;*/
  /*opacity: 0;*/
  -o-transition: opacity .35s ease-out,visibility .35s ease-out,background-color .2s ease-out;
  transition: opacity .35s ease-out,visibility .35s ease-out,background-color .2s ease-out;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,.1);
}
.scrolling-button_up {
  bottom: 0;
  margin-bottom: 3px;
}
.scrolling-button_up:after {
  background-image: url(/assets/img/scrolling-button-up.png);
}
.scrolling-button_down:after {
  background-image: url(/assets/img/scrolling-button-down.png);
}
.scrolling-button_down:after, .scrolling-button_up:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -9px;
  width: 17px;
  height: 23px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 17px 23px;
}
.scrolling-button__container-outer {
  left: 0;
  right: 0;
  bottom: 85px;
  position: fixed;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
}
.scrolling-button__container-inner {
  position: relative;
}
.scrolling-button_visible {
  opacity: .8;
  visibility: visible;
  pointer-events: auto;
}
.scrolling-button_visible {
  opacity: .8;
  visibility: visible;
  pointer-events: auto;
}
.scrolling-button_down, .scrolling-button_up {
  right: 20px;
}

.scrolling-button_down:after, .scrolling-button_up:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -9px;
  width: 17px;
  height: 23px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 17px 23px;
}
.scrolling-button:hover {
  background-color: #bfbfbf;
}

.top>.scrolling-button__container-outer {
  top: 183px;
  width: 90px;
}

.bottom {

}

.right {

}

.left {

}
