<sd-navbar></sd-navbar>

<div class="container" id="main_container">
    <sd-message [mess]="_AppService.message"></sd-message>

    <div class="view">
        <router-outlet></router-outlet>
    </div>

</div>


<scrolling-buttons class="top"></scrolling-buttons>
<scrolling-buttons class="bottom"></scrolling-buttons>