<br>
<br>
<md-card *ngIf="!authorized">
    <md-input [(ngModel)]="pass"
              name="pass"
              autofocus
              #pass_inp
              type="password"
              class="home-input"
              (keyup.enter)="checkPass($event.target.value); pass_inp.value=''"
              placeholder="Пароль"
              ngDefaultControl></md-input>
    <br>
    <button md-raised-button
            color="primary"
            type="submit"
            class="home-button"
            (click)="checkPass(pass_inp.value); pass_inp.value=''">Показать настройки</button>
</md-card>

<br>
<br>
<md-card *ngIf="authorized">
    <!-- md-card-title>
        <md-toolbar>
            Изменить данные в БД
        </md-toolbar>
    </md-card-title -->
    <md-card-content>
        <div>
            период с <input name="date1" type="datetime-local" [(ngModel)]="date1">
            по <input name="date2" type="datetime-local" [(ngModel)]="date2">
            датчик <select name="id_port" [(ngModel)]="id_port">
                <template ngFor let-unit [ngForOf]="setup.units | keys" let-i="index">
                    <option *ngFor="let port of (unit.value.ports | keys)" [value]="port.key">{{ port.value.name }}</option>
                </template>
            </select>
            значение <input type="number" step="any" [(ngModel)]="value" name="value">
            <button md-raised-button color="primary" (click)="setData()">Изменить</button>
        </div>
    </md-card-content>
</md-card>
<br>
<md-card *ngIf="authorized">
    <md-card-title>
        <md-toolbar>
            Настройки
            <span class="spacer"></span>
            <button md-mini-fab (click)="loadSetup()" md-tooltip="Обновить">
                <md-icon>refresh</md-icon>
            </button>
            &nbsp;
            <button md-mini-fab (click)="saveSetup()" md-tooltip="Сохранить" [disabled]="save_in_progress">
                <md-icon>save</md-icon>
            </button>
        </md-toolbar>
    </md-card-title>
    <md-card-content>

            <!--<md-input-container>-->
                <!--<input md-input placeholder="Интервал опроса (в секундах)" type="number">-->
            <!--</md-input-container>-->
        <template  ngFor let-unit [ngForOf]="setup.units | keys" let-i="index" [ngForTrackBy]="trackByFn">
            <md-card >
                <md-card-title>
                    <md-toolbar>
                        <md-slide-toggle
                                [(ngModel)] = "unit.value.enable"
                                [color]="primary">
                        </md-slide-toggle>
                        &nbsp;
                        Контроллер:
                        &nbsp;
                        <input type="text" [(ngModel)]="unit.value.name">
                    </md-toolbar>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <label>Порт:</label>
                            <input [(ngModel)]="unit.value.serial_port"> &nbsp;&nbsp;<small>(windows: COM1; linux: /dev/ttyUSB0)</small>
                        </md-list-item>
                        <md-list-item>
                            <label>Адрес:</label>
                            <input [(ngModel)]="unit.value.address"> &nbsp;&nbsp;<small>(1-254)</small>
                        </md-list-item>
                        <md-list-item>
                            <label>Периодичность опросов:</label>
                            <input [(ngModel)]="request_interval" [disabled]="i>0" type="number"> &nbsp;&nbsp;<small>(в минутах)</small>
                        </md-list-item>
                        <md-list-item>
                            <label>Примечание:</label>
                            <input [(ngModel)]="unit.value.description"> </md-list-item>

                        <md-card *ngFor="let p of (unit.value.ports | keys)" class="port">
                            <md-toolbar>
                                <md-slide-toggle
                                        [(ngModel)] = "p.value.enable"
                                        [color]="primary">
                                </md-slide-toggle>
                                &nbsp;
                                Порт {{ p.value.number }}:
                                &nbsp;
                                <input [(ngModel)]="p.value.name">
                                &nbsp;&nbsp;
                                <input type="color" id="color_{{ p.value.id }}" [(ngModel)]="p.value.color">
                            </md-toolbar>
                            <div class="row" md-tooltip="Счёт ничинается с 0!">
                                <label>Номер порта контоллера:</label>
                                <input [(ngModel)]="p.value.number"> &nbsp;&nbsp;<small>(0-7)</small>
                            </div>
                            <div class="row">
                                <label>Нижний предел температуры:</label>
                                <input [(ngModel)]="p.value.min_value">
                            </div>
                            <div class="row">
                                <label>Верхний предел температуры:</label>
                                <input [(ngModel)]="p.value.max_value">
                            </div>
                            <div class="row">
                                <label>Примечание:</label>
                                <input [(ngModel)]="p.value.description">
                            </div>
                        </md-card>
                    </md-list>

                </md-card-content>
            </md-card>
            <br>
            <br>
        </template>

    </md-card-content>
</md-card>