:host {
  display: block;
  padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}


.port {
  background: #cfdde7;
  margin-bottom: 5px;
}

.port .row {
  padding: 10px;
  border-bottom: 1px dotted #bcbcbc;
}

label {
  width: 200px;
  display: inline-block;
}

