<md-toolbar>
	<a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
		<button>Показания</button>
	</a>

	<a [routerLink]="['/reports']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
		<button>Отчёты</button>
	</a>

	<a [routerLink]="['/setup']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
		<button>Настройки</button>
	</a>

	<a [routerLink]="['/about']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
		<button>О программе</button>
	</a>

		<span class="spacer"></span>

	<button class="time">
		Текущее время: {{ time }}
	</button>
</md-toolbar>