:host, md-toolbar {
  background: transparent;
}

.example-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

a {
  margin-right: 5px;
}

a.active, a:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.49);
}
a.active button {
  color: #f0ff04;
}
button {
  background: #4b7fae;
}


button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}