<br>
<br>
<br>
<md-card>
    <p>
        Монитринг температуры. Версия 1.0.0.
    </p>
    <p>
        Разработчик: Шавнёв А.Л. <a href="mailto:andrew-6676@ya.ru">Andrew-6676@ya.ru</a>
    </p>
    <p>

    </p>
</md-card>