$mainBackground: #bdd7ee;
@import "material2-theme";

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  background: $mainBackground;
  background-image: url('/assets/img/bg6.png');
}
/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}



.spacer {
  flex: 1 1 auto;
}

input, select {
  padding: 7px;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #bcbcbc;
}

input[type="color"] {
  padding: 0;
}