@import '../../../node_modules/@angular/material/core/theming/all-theme';

// NOTE: Theming is currently experimental and not yet publically released!

@include md-core();


/*---------------------------------------------------*/

$primary: md-palette($md-teal);
$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: md-palette($md-indigo, 700, 500, 900);
  $dark-accent:  md-palette($md-blue-grey, A200, A100, A400);
  $dark-warn:    md-palette($md-deep-orange);

  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

/*--------------------------------------------------*/

md-card md-card md-card-title>md-toolbar {
  border: 1px solid rgba(16, 108, 200, .5);
}

.md-list-item {
  border-bottom: 1px dotted #bcbcbc;
}

.md-checkbox-layout {
  display: block !important;
}

md-toolbar {
  border-radius: 2px;
}

thead>tr>th:first-child {
  border-radius: 2px 0 0 4px;
}
thead>tr>th:last-child {
  border-radius: 0 2px 4px 0;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../assets/fonts/MaterialIcons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

md-card {
  background: rgba(255, 255, 255, 0.5);
}

.md-chip {
  border-radius: 0 !important;
}