<br>
<br>
<md-card>
    <md-card-title>
        <md-toolbar>
            Статистика
            <span class="spacer"></span>
            <button md-mini-fab (click)="loadReportData()" md-tooltip="Обновить">
                <md-icon>refresh</md-icon>
            </button>
        </md-toolbar>
    </md-card-title>
    <md-card-content>

        <div>
            <input type="datetime-local" [(ngModel)]="date1">
            <input type="datetime-local" [(ngModel)]="date2">
            <button md-raised-button
                    color="primary"
                    (click)="loadReportData()"
                    md-tooltip="Построить графики">
                Показать
            </button>
            <button md-icon-button
                    (click)="toExcel()"
                    [disabled]="export_in_progress"
                    md-tooltip="Экспорт в Ecxel">
                <md-icon md-list-avatar svgIcon="xls"></md-icon>
            </button>
            <span *ngIf="export_in_progress" style="color:#bcbcbc">Формируется отчёт...</span>
        </div>

        
        <div class="row" *ngIf="loaded && report_data.data.length > 0">
            <div class="col-md-6">
                <div style="display: block;">
                    <canvas baseChart width="16" height="9"
                            [datasets]="report_data.data"
                            [labels]="report_data.labels"
                            [options]="lineChartOptions"
                            [colors]="report_data.colors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>

        </div>
        <div class="row" *ngIf="loaded && report_data.data.length == 0">
            Нет данных за выбранный период.
        </div>

    </md-card-content>
</md-card>
